@import 'colors.scss';

$navbar-background-color: $grey-furg;
$navbar-item-hover-color: $orange-furg;
$navbar-item-color: white ; //outra cor (hsl(0, 0%, 29%) )
$navbar-item-hover-background-color: #ffffff20;




@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
