.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  z-index: 1300;
  width: 80%;
  bottom: 0%;
  position: fixed;
  background-color: white;
  
}

.containerCard {
  width: 30%;
}

.Card {
  flex: 0 0 auto;
  margin-right: 10px;
}

.close{
  position:absolute;
  top:2%;
  right:5%;
}

.containerGraphic {
  width: 65%;
  height: 100%;
}
.GraphicPressure {
  width: 100%;
}
